.container-inactive {
    overflow: visible;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #314c9b;
    width: fit-content;
    /* align-self: flex-end; */
    padding: 3px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
    font-weight: 700;
    /* overflow-y: hidden; */
}
.container-active {
    overflow: visible;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #416871;
    width: fit-content;
    /* align-self: flex-end; */
    padding: 3px;
    border: 1px solid white;
    border-radius: 10px;
    animation: pulse 3s ease-in-out infinite;
    font-weight: 700;
    /* overflow-y: hidden; */
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #549366;
    }
    70% {
        box-shadow: 0 0 20px 10px rgba(0, 200, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 200, 255, 0);
    }
}

.upper-part-container {
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* background-color: inherit; */
    width: fit-content;
    align-self: flex-end;
    padding: 5px;

    border-radius: 10px;
}

.switch-container {
    display: flex;
    width: 50px;
    height: 25px;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;

    background-color: transparent;
}
.active {
    border: 1px solid rgb(188, 188, 188);
    background-color: #3b8650;
}
.inactive {
    border: 1px solid rgb(188, 188, 188);
    background-color: rgba(255, 255, 255, 0.201);
}
.handle {
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
}
.spacer {
    width: 1px;
    height: 30px;
    padding-top: -10px;
    background-color: white;
    margin: 0 5px 0 5px;
}
.dropdown-btn {
    display: flex;
    place-content: center;
    background-color: transparent;
    border: none;
    height: fit-content;
    cursor: pointer;
    img {
        height: 20px;
    }
}
.menu-open {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
    padding: 5px;
    background: inherit;
    width: 100%;
    border-top: 1px solid rgb(188, 188, 188);
    overflow-y: hidden;
}

.weekDay-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.checkbox-container {
    display: flex;
    place-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
}
.cursor {
    cursor: pointer;
}
