.tab-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2px;
    width: 100%;
    height: 30px;
    background: transparent;
    margin-left: 5px;
}

.tab-item-active {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #1b2b60;
    background-color: #253874;
    border-top: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
    min-width: 120px;
}
.tab-item-inactive {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #1b2b60;
    background-color: #31458a;
    border-top: none;
    color: rgb(188, 186, 186);
    cursor: pointer;
    font-weight: 700;
    min-width: 120px;
}

.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
