.tab-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2px;
    width: 100%;
    height: 30px;
    background: transparent;
}

.tab-item-active {
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #1b2b60;
    background-color: #253874;
    border-top: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
}
.tab-item-inactive {
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #1b2b60;
    background-color: #31458a;
    border-top: none;
    color: rgb(188, 186, 186);
    cursor: pointer;
    font-weight: 700;
}
