* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --board-background: linear-gradient(
        137deg,
        rgba(0, 114, 201, 1) 0%,
        rgb(67, 96, 180) 51%
    );
    --dimmed-textsize: #eaeaea;
    font-family: "Lato", sans-serif;
    color: white;
}

root {
    position: relative;
    touch-action: pan-x pan-y;
}
button img {
    pointer-events: none;
}
.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.ribbon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 80px;
    background: var(--board-background);
}
.board {
    width: 100%;
    min-height: 91vh;
    display: flex;
    flex-direction: row;
    background: var(--board-background);
    gap: 10px;
    padding: 10px 10px;
}

.day-container {
    position: relative;
    display: flex;
    width: 100%;
    gap: 30px;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(0, 8, 15, 0.149);
    align-items: start;
    color: rgb(84, 83, 83);

    padding: 10px;
    h2 {
        align-self: center;
    }
}

.current-day {
    color: black;
    background-color: rgba(7, 13, 98, 0.496);
    border: 2px solid rgba(165, 213, 228, 0.496);
    padding: 8px;
    h1 {
        color: black;
    }
    .att-number-container {
        margin: -2px; /*To align att-number-container when there comes a border on current-day, that moves it*/
    }
}
.attendances-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.attendant-container {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    p {
        color: var(--dimmed-textsize);
    }
}
.avatar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(9, 2, 2, 0.168);
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid rgb(255, 255, 255);
    color: var(--dimmed-textsize);
}
.avatar-big {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(9, 2, 2, 0.168);
    font-size: 2rem;
    font-weight: 700;
    border: 1px solid white;
}

.btn-edit-pp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: #300276;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.btn-edit-pp {
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
}

.profile-pictures {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-container-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.527);
    overflow-y: auto;
}

.profile-container {
    position: relative;
    background: linear-gradient(
        137deg,
        rgba(0, 114, 201, 1) 0%,
        rgba(50, 76, 156, 1) 51%
    );
    width: 80%;
    max-width: 1000px;
    height: 627.5px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 10px 0;
    overflow-y: scroll;
    z-index: 2;
    /* margin-top: 30%;
    margin-bottom: 30%; */
    overflow: visible; /*Makes tooltips be able to escape the contaienr*/
    overflow-y: scroll;
}
.att-picker-container {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 10px;
    gap: 10px;
    padding: 20px 10px 20px 10px;
    display: flex;
    background-color: #3002766b;
    backdrop-filter: blur(10px);

    border-radius: 10px;
    box-shadow: 0 0 2px 0;
    flex-direction: column;
    min-width: 300px;
    max-height: 600px;

    overflow-y: scroll;
    p {
        color: white;
    }

    div {
        /*Used to transition slowly back*/
        margin-left: 0px;
        transition: 0.2s;
    }
    & :hover {
        background-color: #1f2a48;
        border-radius: 10px;
        div {
            margin-left: 8px;
            transition: 0.2s;
        }
    }
}

.profile-details {
    display: flex;
    align-items: center;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* background-color: rgba(6, 6, 148, 0.238); */
    padding: 5px;
    gap: 20px;

    h2 {
        font-size: 1.5rem;
    }
    /* & :nth-child(3) {
        /* margin-left: 30px; 
        margin-right: 10px;
    } */
}

.week-form {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
    }
    fieldset {
        background: none;
        border: none;
        display: flex;
        gap: 140px;
        margin-right: 30px;
    }
    .form-headers {
        align-self: flex-end;

        gap: 60px;
        margin-right: 0px;
    }
}

.submit-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
}

.media-menu {
    position: absolute;
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 10px;
    height: auto;
    width: 250px;
    top: 60px;
    left: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    background-color: rgb(227, 227, 227);
    font-size: 1rem;
    input::file-selector-button {
        border: none;
        background-color: inherit;
        font-weight: 700;
        font-size: 1rem;
        padding: 0 10px 0 0;
        margin: 0;
        cursor: pointer;
        font-family: Times, "Times New Roman", serif;
    }

    .img-upload-label {
        color: black;
    }
    div {
        color: black;
    }
}
.video-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;

    z-index: 1;
    background-color: rgb(189, 189, 189);
    align-items: center;
    width: 90%;
    height: auto;

    canvas {
        display: none;
    }
}
.output {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: fill;
    }
}

.menu-plan-container-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 1;
}
.menu-plan-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    background: linear-gradient(
        137deg,
        rgba(0, 114, 201, 1) 0%,
        rgba(50, 76, 156, 1) 51%
    );
    width: 80%;
    max-width: 1000px;
    height: 80vh;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 10px 0;
    overflow-y: auto;
    z-index: 1;
}
.menu-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 1.5rem;
}
.menu-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    textarea {
        color: black;
        height: 100px;
        text-align: start;
    }
}

.att-number-container {
    max-width: 88%; /*for the sake of expanding later, it wont overflow its "Day" component*/
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    gap: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.att-number-container-exp {
    max-width: 91%; /*for the sake of expanding later, it wont overflow its "Day" component*/
    min-width: 91%;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    right: 10px;
    top: 10px;
    z-index: 1;
    background-color: white;

    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px #fff;
    border: 1px solid white;
    div {
        padding: 0 3px 5px 3px;
    }
}

.att-icon-number {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.att-icon-expanded-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    /* padding-left: 5px; */
}
.att-icon-number-expanded {
    margin-bottom: 5px;
    p {
        color: #1f2a48;
    }
    div {
        color: #1f2a48;
    }
}

.week-plan-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto 1fr 1fr 1fr;
    height: 333px;
    width: 100%;
    background-color: rgba(6, 5, 5, 0.054);
    border-radius: 8px;
    overflow: hidden;
}
.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.208);
    place-self: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.week-plan-cell {
    padding: 10px;
    justify-self: center;
    width: 100%;
    text-align: center;
    border: 1px solid #1f2a4835;
    /* &.yes {
        background-color: red;
    } */
    &:hover {
        background-color: #1f2a4848;
        cursor: pointer;
    }
}
.week-plan-cell-loading {
    padding: 10px;
    justify-self: center;
    width: 100%;
    text-align: center;
    border: 1px solid #1f2a4835;
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
}

@keyframes skeleton-loading {
    0% {
        background-color: #1f2a4835; /* FROM Color 1 */
    }
    100% {
        background-color: #586a9c35; /* TO Color 2 */
    }
}

.star-icon:hover {
    cursor: pointer;
    height: 45px;
}

/* GENERAL EDITS */
input[type="radio"] {
    transform: scale(1.4);
    accent-color: rgb(10, 1, 87);
}
input {
    width: 100%;
    height: 35px;
    color: rgb(9, 9, 9);
    font-size: 1.1rem;
    padding: 4px;
}

/*UTILITIES*/

.hover-border:hover {
    outline: 1px solid #ffffff9a;
    background-color: rgba(49, 49, 49, 0.22);
    border-radius: 5px;
    color: white;
}

.btn-primary {
    height: 33px;
    min-width: 10px;
    padding: 0 5px 0 5px;
    background-color: white;
    border: 1px solid white;
    justify-content: center;
    border-radius: 6px;
    color: rgb(10, 1, 87);
    font-weight: 600;
    &:hover {
        cursor: pointer;
    }
}
.btn-secondary {
    height: 33px;
    min-width: 10px;
    padding: 0 7px 0 7px;

    border: 1px solid rgba(255, 255, 255, 0.713);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-weight: 600;

    &:hover {
        cursor: pointer;
        border: 1px solid rgba(238, 158, 158, 0.178);
        background-color: #77e5fba0;
        transition: 0.3s;
    }
}
.glass-button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    color: #fff;
    padding: 12px 32px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background 0.2s;
    cursor: pointer;
}
.btn-camera {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #3002766b;
    border: 4px solid white;
    align-self: center;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
}
.btn-floaty {
    position: sticky;
    bottom: 5px;
    height: 40px;
    padding: 8px;

    align-self: flex-end;
    background-color: white;
    color: #300276;
    font-size: 1.1rem;
}
.btn-floaty-secondary {
    position: sticky;
    bottom: 5px;
    height: 40px;
    padding: 8px;
    width: auto;
    align-self: flex-end;
    background-color: rgba(157, 21, 35, 0.014);
    color: white;
    font-size: 1.1rem;
}
.util-bold {
    font-weight: 900;
}
.util-medium {
    font-weight: 500;
}
.loading-indicator {
    width: 50px;
    height: 50px;
    align-self: center;
    justify-self: center;
    border: 4px solid rgb(127, 127, 127);
    border-left: 4px solid transparent;
    border-radius: 100%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.util_flex-end {
    /* margin-left: auto;
    margin-top: auto; */
    justify-self: flex-end;
    align-self: flex-end;
}

.seperator {
    height: 1px;
    width: 100%;

    background-color: rgb(147, 147, 147);
}

.mg-left-auto {
    margin-left: auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 850px) {
    .board {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        background: var(--board-background);
        gap: 10px;
        padding: 10px 10px;
    }
    .video-frame {
        display: flex;
        flex-direction: column;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        padding: 20px;

        z-index: 1;
        background-color: rgb(189, 189, 189);
        align-items: center;
        width: 100%;
        height: auto;
        overflow-y: scroll;

        canvas {
            display: none;
        }
    }
    .output {
        display: flex;
        flex-direction: row;
        justify-items: start;
        /* margin-right: 50px; */
    }
    .week-plan-container {
        font-size: 0.7rem;
    }
    .container-header {
        font-size: 0.8rem;
    }
}
